<!DOCTYPE html>
<html dir="ltr">

<head> {{ partial "head.html" .}}</head>

<body class=""><section>{{ partial "home-lit.html" .}}</section>
	
	<section class="whatsPossible separator-greenLine" style="display: none;">
		<div class="wrapper">
		<p style="margin-bottom: 100px; opacity: 0.5">Cool stuff built / being built on LIT</p>
<div class="bulletPoint spaceBetween">


                    <div>Multicoin Multihop Payments</div>

                <svg width="397px" height="161px" viewBox="0 0 397 161" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Multihop</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Multihop" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <path d="M77.25,81.75 L287.25,81.75" id="Line" stroke="#979797" stroke-linecap="square"></path>
        <g id="Group" transform="translate(284.000000, 81.750000) scale(-1, 1) translate(-284.000000, -81.750000) translate(280.500000, 77.000000)" stroke="#979797" stroke-linecap="square">
            <path d="M0.25,4.75 L6.75,0.25" id="Line-9-Copy-3"></path>
            <path d="M0.25,9.25 L6.75,4.75" id="Line-9-Copy-2" transform="translate(3.500000, 7.000000) scale(1, -1) translate(-3.500000, -7.000000) "></path>
        </g>
        <g id="Group-2" transform="translate(56.500000, 55.000000)" stroke-width="2">
            <circle id="Oval-4" stroke="#D18423" fill="#F9A136" cx="26.5" cy="26.5" r="25.5"></circle>
            <circle id="Oval-4-Copy" stroke="#828282" fill="#BEBEBE" cx="142" cy="26.5" r="25.5"></circle>
            <circle id="Oval-4-Copy-2" stroke="#065C3D" fill="#058657" cx="257.5" cy="27" r="25.5"></circle>
        </g>
    </g>
</svg>

 					<div>Lightning Card Payments</div>

                   
<svg width="794px" height="321px" viewBox="0 0 794 321" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Card Interface</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Card-Interface" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <rect id="Rectangle-25" stroke="#1d1d1d" fill="#FFFFFF" x="279.5" y="86.5" width="234.6" height="147.571121" rx="18"></rect>
        <rect id="Rectangle-27" stroke="#1d1d1d" fill="#FFFFFF" x="306.5" y="153.5" width="35" height="26" rx="3"></rect>
    </g>
</svg>


               

                     <div>Encrypted End-to-end Messaging</div>
<svg width="794px" height="322px" viewBox="0 0 794 322" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>End to End Encryption Copy</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="End-to-End-Encryption-Copy" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-2" transform="translate(462.000000, 104.000000)">
            <rect id="Rectangle-22" stroke="#333333" fill="#FFFFFF" x="0.5" y="0.5" width="114" height="114" rx="18.1999997"></rect>
            <text id="Pi" font-family="Montserrat-ExtraBold, Montserrat" font-size="22.5609996" font-weight="600" fill="#1D1D1D">
                <tspan x="46.2118777" y="66">Pi</tspan>
            </text>
        </g>
        <g id="Group-3" transform="translate(217.000000, 104.000000)">
            <rect id="Rectangle-22-Copy-3" stroke="#333333" fill="#FFFFFF" transform="translate(57.500000, 57.500000) scale(-1, 1) translate(-57.500000, -57.500000) " x="0.5" y="0.5" width="114" height="114" rx="18.1999997"></rect>
            <text id="Pi-Copy" font-family="Montserrat-ExtraBold, Montserrat" font-size="22.5609996" font-weight="600" fill="#1D1D1D">
                <tspan x="45.2118777" y="66">Pi</tspan>
            </text>
        </g>
        <path d="M386.215395,161.654781 C385.367427,163.054527 383.900567,164.286266 381.814815,165.35 C377.219213,167.693757 369.5,168.5 369.5,168.5 C373.943414,165.624512 376.86008,163.524512 378.25,162.2 C379.007397,161.478245 379.609974,160.556262 380.05773,159.43405 C373.33781,156.237461 369,151.18534 369,145.5 C369,135.835017 381.536027,128 397,128 C412.463973,128 425,135.835017 425,145.5 C425,155.164983 412.463973,163 397,163 C393.177912,163 389.534687,162.521371 386.215395,161.654781 Z" id="Combined-Shape" stroke="#333333" fill="#FFFFFF"></path>
        <text id="…" font-family="Montserrat-Medium, Montserrat" font-size="32.23" font-weight="400" fill="#1D1D1D">
            <tspan x="385.364535" y="149">…</tspan>
        </text>
    </g>
</svg>

                     <div>Remote Control Interface</div>

<svg width="794px" height="321px" viewBox="0 0 794 321" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.2 (57519) - http://www.bohemiancoding.com/sketch -->
    <title>Remote Interface</title>
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Remote-Interface" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g id="Group-4" transform="translate(79.000000, 79.000000)">
            <rect id="Rectangle-22-Copy" stroke="#1d1d1d" x="547.5" y="0.5" width="88" height="163" rx="26"></rect>
            <path d="M89.5,84.5 L547.5,84.5" id="Line" stroke="#979797" stroke-linecap="square"></path>
            <rect id="Rectangle-22-Copy-2" stroke="#1d1d1d" transform="translate(44.500000, 82.000000) scale(-1, 1) translate(-44.500000, -82.000000) " x="0.5" y="0.5" width="88" height="163" rx="26"></rect>
            <g id="Group" transform="translate(540.000000, 84.500000) scale(-1, 1) translate(-540.000000, -84.500000) translate(533.000000, 75.000000)" stroke="#979797" stroke-linecap="square">
                <path d="M0.5,9.5 L13.5,0.5" id="Line-9-Copy-3"></path>
                <path d="M0.5,18.5 L13.5,9.5" id="Line-9-Copy-2" transform="translate(7.000000, 14.000000) scale(1, -1) translate(-7.000000, -14.000000) "></path>
            </g>
            <g id="Group-2" transform="translate(343.000000, 25.000000)">
                <rect id="Rectangle-22" stroke="#1d1d1d" fill="#FFFFFF" x="0.5" y="0.5" width="114" height="114" rx="18.1999997"></rect>
                <text id="Pi" font-family="Montserrat-ExtraBold, Montserrat" font-size="22.5609996" font-weight="600" fill="#1D1D1D">
                    <tspan x="46.2118777" y="66">Pi</tspan>
                </text>
            </g>
            <g id="Group-3" transform="translate(178.000000, 25.000000)">
                <rect id="Rectangle-22-Copy-3" stroke="#1d1d1d" fill="#FFFFFF" transform="translate(57.500000, 57.500000) scale(-1, 1) translate(-57.500000, -57.500000) " x="0.5" y="0.5" width="114" height="114" rx="18.1999997"></rect>
                <text id="Pi-Copy" font-family="Montserrat-ExtraBold, Montserrat" font-size="22.5609996" font-weight="600" fill="#1D1D1D">
                    <tspan x="45.2118777" y="66">Pi</tspan>
                </text>
            </g>
        </g>
    </g>
</svg>
                    

                   


                    

                    






                    <div></div>


                    


                    </div>
</div>
	</section>
	

	<section class="separator-greenLine">
		<div class="wrapper">
<p style="font-size: 12px; opacity: 0.5">Requires SegWit and CSV CLTV support and the same hash function in the scripting language</p>
<p style="font-size: 12px; opacity: 0.5">Add Coin to LIT - Send a Pull Request</p>
</div>
	</section>
    
</body>

</html>